.container {
  display:flex;
  align-content: space-between;

}

.photo {
  position: "relative";
  width: "250px";
  height: "500px";
  margin-right: 1em;
}

.article {
  text-align: center;
}
.description {
  margin-left: 1em;
}

