.proyectsContain {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.proyects {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}

.cards {
  border: solid 1px grey;
  border-radius: 1em;
  margin: 3em  ;
  padding: 1em;
}
