.proyectsContain {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}


.proyects {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
 text-align: center;
  
}

.web {
  border: solid 1px blue;
  padding: 1em;
}

.web  {
    border: solid 2px grey;
    border-radius: 1em
}
.movile {
  border: solid 1px grey;
  border-radius: 1em;

  padding: 1em;
}


